body {
    width: 95%;
    width: 915px;
    margin: auto;
    background-image: url(image/12.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 100%;
    color: rgb(0, 0, 0);
}


#main {
    background: blanchedalmond;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}
.logo {
    text-align: center;
}
.band-name {
    text-align: center;
}
.band-line {
    text-align: center;
}